.App {
  text-align: center;
}
.donuts{
  display: flex;
  justify-content: space-evenly;
}
.donut{
  background: #F1B166;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  padding: 50px;
  box-shadow: rgba(34, 34, 34, 0.116) 0 5px 5px;
  color: #222;
}
.donut:hover{
  transform: scale(1.1);
}